<section class="outer-container">
  <div class="navbar navbar-default" style="border: none">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="/">PhoneBuzz</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    </div>
  </div>
</section>

<div class="container" id="main-body">
  <div class="form-group">
    <h3 class="content" id="main-header">Input your phone number and press submit!</h3>
    <form>
      <input type="text" class="form-control phone_us" placeholder="+1 (000) 000-0000" autofocus required >
      <div style="margin-left: 25%">
        <input type="number" class="time" id="hours"  placeholder="hours" >:
        <input type="number" class="time" id="minutes"  placeholder="minutes" >:
        <input type="number" class="time" id="seconds"  placeholder="seconds" >
      </div>
      <button type="button" class="btn btn-primary form-control" id="submit" style="margin-top: 22px;">Submit</button>
    </form>
  </div>
</div>
<button id="success" style="visibility: hidden;"></button>
<button id="failure" style="visibility: hidden;"></button>