doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='http://bootswatch.com/readable/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather+Sans:800')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Chango')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Exo+2:900')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Play|Nunito:300')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:500italic')
  body
    block content
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/javascripts/bar.js')
    script(type='text/javascript', src='/javascripts/form.js')
    script(type='text/javascript', src='/javascripts/main.js')